.title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  color: #111;
  font-family: "Merriweather", serif;
  padding-bottom: 12px;
  margin: 25px 0;
  letter-spacing: -0.5px;
}

.ultimaNoticia {
  max-width: 1000px;
  width: 100%;
  position: relative;
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  color: #0e0e0e;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }

  & h1 {
    font-size: 3em;
    z-index: 11;
  }
  .ntR {
    font-size: 2em;
    text-align: center;
    z-index: 11;
    color: #4798e9;
    text-shadow: #222222 1px 1px 10px;
  }

  & p {
    max-width: 600px;
    z-index: 11;
  }

  & img {
    max-width: 900px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
  & img:nth-child(1) {
    animation: chageImage 20s infinite forwards;
  }
}

.carouselContent {
  bottom: 0px;
  position: absolute;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.096);
  padding: 40px;
}

@keyframes chageImage {
  0% {
    z-index: -3;
    transform: scale(1.003);
  }
  50% {
    transform: scale(1);
  }
  100% {
    z-index: -1;
    transform: scale(1.003);
  }
}
