@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

@theme {
  --color-primary: #388337;
  --color-secondary: #cbefcb;
  --color-tertiary: #34b6f7;

  --breakpoint-ml: 370px;
}

body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fef9f4;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c0deff;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

.mansory {
  columns: 3 auto;
  column-gap: 10px;
  justify-items: center;
  width: auto;
}

@media (width < 600px) {
  .mansory {
    columns: 2 auto;
    & article {
      width: auto;
    }
  }
}
@media (width < 350px) {
  .mansory {
    columns: 1 auto;
    & article {
      width: 100%;
    }
  }
}
