@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fef9f4;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px; /* ancho del scrollbar */
}

/* La "barra" que se mueve */
body::-webkit-scrollbar-thumb {
  background-color: #97c8ff; /* color gris suave */
  border-radius: 4px; /* bordes redondeados */
}

/* Opcional: cambiar el fondo de la pista */
body::-webkit-scrollbar-track {
  background: transparent; /* fondo transparente */
}

.mansory {
  columns: 3 250px;
  column-gap: 10px;
  justify-items: center;
  width: auto;
}
